.Header {
    padding-top: 43px;
    padding-bottom: 43px;
    background-color: #3B3C3D;
}

.Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1420px;
    margin: 0 16px;

    @media(min-width: 1452px) {
        margin: 0 auto;
    }
}

.Link {
    font-family: "Montserrat", serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 18.29px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.Link.Active {
    color: rgba(255, 255, 255);
}

.Brand {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 900;
    line-height: 24.38px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255);

}

.Nav {
    display: flex;
    gap: 64px;
}