
.profile {
    text-align: center;
    padding: 20px;
    border: 1px solid #030303;
    border-radius: 10px;
    max-width: 300px;
    width: 300px;
    height: fit-content;
    margin: 0 auto;
    background-color:#6141fd; 
    color: #F5F4FB;
  }
  
  .avatar {
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #1777FD;
    color: #F5F4FB;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 14px; 
  }
  
  .button:hover {
    background-color: #aaa; 
  }