
.profile {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 300px;
    width: 300px;
    height: 450px;
    margin: 0 auto;
    background-color: #d1f7c4; 
  }
  
  .avatar {
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 14px; /* Размер шрифта 14px */
  }
  
  .button:hover {
    background-color: #aaa; 
  }